@font-face {
    font-family: 'ClearSans-Light';
    src: url('fonts/ClearSans-Light.svg') format('svg');
    src: url('fonts/ClearSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans-Medium';
    src: url('fonts/ClearSans-Medium.svg') format('svg');
    src: url('fonts/ClearSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('fonts/ClearSans-Bold.svg') format('svg');
    src: url('fonts/ClearSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
