/*normalizer*/


/*app elements*/

html{
    padding: 0;
    margin: 0;
    font-family: "ClearSans-Light", ClearSans-Medium ;
}

body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;

    /*in case content is not long enough*/
    background-color: #97daeb;
}

body *{
    box-sizing: border-box;
}


.app_container{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #97daeb;
}

.app_segment{
    width: 100%;
    padding: 40px;
    min-height: 200px;
}

.no-pad{
    padding: 0;
}

.fixed_bottom_section{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    min-height: 50px;
}

.b-background{
    background-color: #97daeb;

}
.w-background{
    background-color: #FFFFFF;
}
.r-background{
    background-color: #a31627;

}
.d-background{
    background-color: #135181;

}

span{
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    font-weight: lighter;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

p.white{
    color: #FFFFFF;
}

p.blue{
    color: #135181;
    text-align: right;
    padding-left: 20%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: ClearSans-Medium, "ClearSans-Bold";
    line-height: 1.4em;
}

.main-btn{
    margin: 20px auto;
    display: block;
    height: 40px;
    line-height: 40px;
}
.main-btn:after{
    content: '';
    display: table;
    clear: both;
}
.btn-text{
    height: 40px;
    float: right;
    text-transform: none;
    font-size: 1.3em;
    margin-right: 20px;
    font-weight: bold;
}
.btn-icon{
    float: right;
    margin-right: 40px;
}

.arrow{
    margin-top: 5px;
    display: block;
    height: 30px;
    width: auto;
}

.white{
    color: #FFFFFF;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin-bottom: 20px;
}


/*color deviders*/

.color_devider_blue{
    height: 10px;
    display: block;
    width: 100%;
    background-color: #135181;
    margin: 10px 0;

}

.color_devider_blue:after{

}

.color_devider_red{
    height: 20px;
    display: block;
    width: 100%;
    background-color: #a31627;
    margin: 60px 0;
    position: relative;
}

.color_devider_red:after{

    background-color: #ef201b;
    height: 20px;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
}

.size-large{
    font-size: 6em;
}

.no-marg{
    margin: 0;
}

.bot-marg{
    margin: 0 0 20px 0;
}
.arrow_down_container{
    width: 100%;
    padding: 20px 0;
}

.arrow-down{
    margin: 0 auto;
    display: block;
}